#headid
{
position:absolute;
top:0px;
left:0px;
height:60px;
width:100%;
background-color:skyblue;
}
#subid
{
position:relative;
top:20px;
left:80px;
height:30px;
width:50%;
float:right;
}
#spid
{
padding:30px;
}
a
{
text-decoration:none;
}
#spid:hover
{
background-color:solid grey;
}
#fs
{
background-color:skyblue;
position:absolute;
top:30%;
left:40%;
right:40%;
bottom:30%;
height:250px;
wight:200px;
}
#le
{
color:red;
font-size:30px;
}
td,th
{
text-align:center;
width:50%;
height:50%;
}
#t1
{
position:absolute;
top:20%;
left:-50%;
}
#t2
{
position:absolute;
top:40%;
left:-51%;
}

#sub
{
position:absolute;
top:65%;
left:30%;
}
#res
{
position:absolute;
top:65%;
left:50%;
}
#b1
{
background-color:pink;
}
#t5
{
position:absolute;
top:20%;
left:-50%;
}
#t6
{
position:absolute;
top:40%;
left:-51%;
}
#t7
{
position:absolute;
top:60%;
left:-51%;
}
#t8
{
position:absolute;
top:75%;
left:-51%;
}
#f6
{
background-color:skyblue;
position:absolute;
top:30%;
left:40%;
right:40%;
bottom:30%;
height:250px;
wight:200px;
}

#sub1
{
position:absolute;
top:90%;
left:30%;
}
#res2
{
position:absolute;
top:90%;
left:50%;
}
#dd
{
position:absolute;
top:20px;
left:20px;
height:30px;
width:50%;
float:left;
}
#p
{
color:red;
}
#1
{
background-image:url(uni.jpg);
}
#d1
{
position:absolute;
height:300px;
width:500px;
text-align:center;
}
